---
layout: page
title: "About"
description: "Dom真的不是HTML里的DOM..."
header-img: "img/about-bg.jpg"
pid: 124
---

<div class="zh">
<h3>基本资料</h3>

现居：上海<br>

性别：男<br>

民族：汉<br>

籍贯：福建<br>

公司：上海春末夏初信息科技有限公司（纯银的短视频项目）<br>

Email ：dom@idom.me<p>


<h3>自我介绍</h3>


没啥好说的，程序猿，常以小黄人头像在各种论坛出没.<br>

之前从事开源游戏引擎工作，现在做短视频相关的项目。<br>

典型IT宅男，因为晕除了自行车外的各种交通工具。所以出门一般只愿意到步行能到达的地方溜达。<br>

平时喜欢看电影，虽然做游戏，但不喜打游戏，一是没有天赋，二是没有时间。<br>

运动方面，乒乓球打的还可以。但很遗憾，没有多少时间可以打。<br>

娱乐活动喜欢KTV，经证实会的歌数量相对比较庞大，但是高音上不去，幸好KTV都有升音调这种作弊的办法。。。<br>

周末休闲活动，写写代码。<br>

谢谢关注！<br>
</div>


{% if site.useDuoshuo %}
<!-- 多说评论框 start -->
    <div class="comment">
        <div class="ds-thread" data-thread-key="{% if page.pid %}{{page.pid}}{% else %}{{page.id}}{% endif %}" data-title="{{page.title}}" data-url="{{site.url}}/about"></div>
    </div>
<!-- 多说评论框 end -->

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"idom"};
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}
